
<section class="hero min-h-[80vh] relative overflow-hidden bg-white">
    <div class="hero-overlay bg-gradient-to-b from-white to-bleu-50"></div>
    <div class="hero-content text-center max-w-6xl relative z-10">
        <div class="max-w-4xl">
            <div class="avatar mb-8 animate-float">
                <div class="w-50">
                    <div class="mask mask-hexagon w-50 border-2">
                        <img src="{{ hero.avatar }}" alt=""/>
                    </div>
                   
                </div>
            </div>
            <h1 class="text-6xl lg:text-7xl font-bold mb-8 leading-tight">
                {{ hero.title | safe }}
            </h1>
            <p class="text-2xl lg:text-3xl max-w-4xl mb-12 leading-relaxed text-base-content/80 font-light">
                {{ hero.subtitle }}
            </p>
            <div class="flex flex-col sm:flex-row gap-6 justify-center">
                {% for button in hero.buttons %}
                <button class="btn {{ button.class }} btn-lg text-lg px-10 {{ button.extraClass }}">
                    {{ button.text }}
                </button>
                {% endfor %}
            </div>
        </div>
    </div>
</section>