{# content is pulled from the frontmatter of index.njk #}

<!--
# _includes/components/status-card.njk
-->

<section class="py-20 bg-base-100/50 dark:bg-base-content/3 relative" id="status-card">
    <div class="container mx-auto px-6">
        <div class="card bg-base-100 max-w-5xl mx-auto border border-base-content/10 rounded-xl">
            <div class="card-body p-8 lg:p-12">
                <div class="flex items-center justify-center mb-8">
                    <h2 class="text-4xl font-bold mr-4">{{ status.title }}</h2>
                    <div class="text-4xl">{{ status.icon }}</div>
                </div>
                <div class="stats stats-vertical lg:stats-horizontal bg-base-200 rounded-lg">
                    {% for stat in status.stats %}
                    <div class="stat place-items-center">
                        <div class="stat-title text-lg font-semibold">{{ stat.title }}</div>
                        <div class="stat-value text-2xl">{{ stat.value }}</div>
                        <div class="stat-desc text-lg">{{ stat.description }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>