
{% include "head.njk" %}

<body class="min-h-screen">
{% include "navbar.njk" %}

  <section id="content" class="py-20">
    <div class="container mx-auto px-6">
      <div class="mb-16 prose mx-auto">
{{ content | safe }}
      </div>
    </div>
  </section>

  <section id="next" class="mx-auto px-6">
    <div class="flex justify-center items-center">
{% if previous %}
    <a href="{{ previous }}">
      <button class="btn btn-soft btn-primary w-32 mr-4">
        Previous 
      </button>
    </a>
{% endif %}

{% if next %}
    <a href="{{ next }}">
      <button class="btn w-32 btn-soft btn-primary">
        Next 
      </button>
    </a>
{% endif %}
  </section>
</div>
{% include "footer.njk" %}

</body>

</html>