
{% include "head.njk" %}

<body class="min-h-screen">
{% include "navbar.njk" %}

<main>
    <div class="">
        {{ content | safe }}
    </div>
</main>

{% include "footer.njk" %}

</body>

</html>