@import "tailwindcss";
@plugin "@tailwindcss/typography"; /* https://github.com/tailwindlabs/tailwindcss-typography */
@plugin "daisyui"{}

/* 
https://daisyui.com/theme-generator/
https://dequeuniversity.com/rules/axe/4.10/color-contrast
*/

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
}

@theme {
  --color-ink-100: oklch(0.13 0.01 264);
  --color-ink-90: oklch(0.13 0.01 264 / 90%);
  --color-ink-80: oklch(0.13 0.01 264 / 80%);
  --color-ink-70: oklch(0.13 0.01 264 / 70%);
  --color-ink-60: oklch(0.13 0.01 264 / 60%);
  --color-ink-50: oklch(0.13 0.01 264 / 50%);
  --color-ink-40: oklch(0.13 0.01 264 / 40%);
  --color-ink-30: oklch(0.13 0.01 264 / 30%);
  --color-ink-20: oklch(0.13 0.01 264 / 20%);
  --color-ink-10: oklch(0.13 0.01 264 / 10%);
  --color-ink-05: oklch(0.13 0.01 264 / 05%);


  --color-accent-100: oklch(0.50 0.18 264);
  --color-accent-90: oklch(0.50 0.18 264 / 90%);
  --color-accent-80: oklch(0.50 0.18 264 / 80%);
  --color-accent-70: oklch(0.50 0.18 264 / 70%);
  --color-accent-60: oklch(0.50 0.18 264 / 60%);
  --color-accent-50: oklch(0.50 0.18 264 / 50%);
  --color-accent-40: oklch(0.50 0.18 264 / 40%);
  --color-accent-30: oklch(0.50 0.18 264 / 30%);
  --color-accent-20: oklch(0.50 0.18 264 / 20%);
  --color-accent-10: oklch(0.50 0.18 264 / 10%);
  --color-accent-05: oklch(0.50 0.18 264 / 05%);


}


/* Increase font size everywhere */
html {
  font-size: 16px;
  scroll-behaviour: smooth;
}

/* Custom CSS */

@layer base {
  @theme {
    --font-sans: InterVariable, sans-serif; /* https://tailwindui.com/documentation#add-the-inter-font-family */
  }

/* custom elements from here */

}